.shopHeader {
  top: 0;
  position: sticky;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 2.2em;
  column-gap: 2em;
  align-items: center;
  width: 100%;
  padding: 1.2em 1.6em;
  box-sizing: border-box;
  background-color: black;
  color: white;
  box-shadow: var(--headerShadow);
}
 
/* ⬇️ LOGOTIPO ⬇️ */
 
.shopHeader .logo {
  display: flex;
  justify-content: flex-start;
  flex: 1 1 0; /* flex-grow, flex-shrink, flex-basis */
  font-weight: 800;
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  user-select: none;
}
 
.shopHeader a {
  color: white;
}
 
/* ⬇️ BARRA DE PESQUISA ⬇️ */
 
.shopHeader .searchBar {
  /* Personaliza a div que envolve o campo de pesquisa e a lupa */
  display: flex;
  flex: 1 1 100%;
  gap: 1em;
  align-items: center;
  border-radius: 2em;
  height: 2em;
  padding: 0.8em 1.6em 0.8em 0.8em;
  font-size: 1em;
  background-color: white;
  color: var(--theme);
}
 
.shopHeader input {
  /* Personaliza o campo de pesquisa */
  flex-shrink: 1;
  background: none;
  border: 0;
  height: 6px;
  font-size: 1em;
  padding: 1em;
  border-radius: 2em;
  min-width: 100px;
  width: 100%;
  color: var(--theme);
  transition: background-color 200ms ease-in-out; /* Adiciona uma transição para a propriedade background-color, que dura 200 milisegundos, do tipo ease-in-out */
}
 
.shopHeader ::placeholder {
  /* Personaliza o placeholder dentro do campo de pesquisa */
  color: var(--theme);
  transition: color 200ms ease-in-out;
}
 
.shopHeader input:focus {
  /* Personaliza o campo de pesquisa quando está selecionado */
  outline: 0;
  background-color: var(--themeCream);
  color: black;
}
 
/* ⬇️ ICONES ⬇️ */
 
.shopHeader .userIcons {
  display: flex;
  flex-direction: row;
  gap: 0.2em;
  flex-shrink: 0;
  justify-content: flex-end;
  justify-items: center;
  align-items: center;
  flex: 1 1 0;
}
 
.shopHeader .userIcons * {
  padding: 0.1em;
}
 
.shopHeader .cartItemsQuantity {
  border-radius: 100%;
  background: var(--theme);
  padding: 0.2em 0.5em;
  position: relative;
  margin-left: -1em;
  margin-top: -1em;
  font-size: 0.9em;
  font-weight: 600;
}
 
.shopHeader .userIcons *:hover {
  /* Personaliza as divs filhas (*) da div com a classe .userIcons, quando estao hovered */
  cursor: pointer;
}
 
/* ⬇️ MEDIA QUERIES ⬇️ */
 
 
@media only screen and (min-width: 610px) {
  .shopHeader .userIcons {
    order: 3;
    justify-content: center;
  }
 
  .shopHeader .logo {
    font-size: 1.6em;
    justify-content: flex-end;
     flex:none;
  }
 
  .shopHeader .searchBar {
    order: 2;
    max-width: 400px;
    flex: 1 1 0;
  }
}
 
@media only screen and (min-width: 900px) {
  .shopHeader .userIcons {
    justify-content: flex-start;
  }
}